$before-screen-prefix: null;

@each $screen-prefix, $sizes in map-reverse(get-screens-map()) {
    @media(min-width: get-screen-size($screen-prefix, min)) {
        @if $gridi-helpers-visibility-screens-support-generate-from-classes and index($gridi-helpers-visibility-screens-support-from-classes-skip-screens, $screen-prefix) == null {
            .invisible-from-#{$screen-prefix} {
                visibility: hidden;
            }
        }

        @if not $before-screen-prefix {
            @if $gridi-helpers-visibility-screens-support-generate-only-classes and index($gridi-helpers-visibility-screens-support-only-classes-skip-screens, $screen-prefix) == null {
                .invisible-#{$screen-prefix} {
                    visibility: hidden;
                }
            }
        }
    }

    @if $gridi-helpers-visibility-screens-support-generate-to-classes and index($gridi-helpers-visibility-screens-support-to-classes-skip-screens, $screen-prefix) == null {
        @media(max-width: get-screen-size($screen-prefix, max)) {
            .invisible-to-#{$screen-prefix} {
                visibility: hidden;
            }
        }
    }

    @if $before-screen-prefix and $gridi-helpers-visibility-screens-support-generate-only-classes and index($gridi-helpers-visibility-screens-support-only-classes-skip-screens, $screen-prefix) == null {
        @media(min-width: get-screen-size($screen-prefix, min)) and (max-width: get-screen-size($before-screen-prefix, max)) {
            .invisible-#{$screen-prefix} {
                visibility: hidden;
            }
        }
    }

    $before-screen-prefix: $screen-prefix;
}
