$before-screen-prefix: null;

@each $screen-prefix, $sizes in map-reverse(get-screens-map()) {
    @media(min-width: get-screen-size($screen-prefix, min)) {
        @if $gridi-helpers-visibility-screens-support-generate-from-classes and index($gridi-helpers-visibility-screens-support-from-classes-skip-screens, $screen-prefix) == null {
            @each $class, $value in $gridi-helpers-visibility-classes {
                @if index($gridi-helpers-visibility-screens-support-from-classes-skip-classes, $class) == null {
                    .#{$screen-prefix}-#{$class} {
                        visibility: $value;
                    }
                }
            }
        }

        @if not $before-screen-prefix {
            @if $gridi-helpers-visibility-screens-support-generate-only-classes and index($gridi-helpers-visibility-screens-support-only-classes-skip-screens, $screen-prefix) == null {
                @each $class, $value in $gridi-helpers-visibility-classes {
                    @if index($gridi-helpers-visibility-screens-support-only-classes-skip-classes, $class) == null {
                        .only-#{$screen-prefix}-#{$class} {
                            visibility: $value;
                        }
                    }
                }
            }
        }
    }

    @if $gridi-helpers-visibility-screens-support-generate-to-classes and index($gridi-helpers-visibility-screens-support-to-classes-skip-screens, $screen-prefix) == null {
        @media(max-width: get-screen-size($screen-prefix, max)) {
            @each $class, $value in $gridi-helpers-visibility-classes {
                @if index($gridi-helpers-visibility-screens-support-to-classes-skip-classes, $class) == null {
                    .to-#{$screen-prefix}-#{$class} {
                        visibility: $value;
                    }
                }
            }
        }
    }

    @if $before-screen-prefix and $gridi-helpers-visibility-screens-support-generate-only-classes and index($gridi-helpers-visibility-screens-support-only-classes-skip-screens, $screen-prefix) == null {
        @media(min-width: get-screen-size($screen-prefix, min)) and (max-width: get-screen-size($before-screen-prefix, max)) {
            @each $class, $value in $gridi-helpers-visibility-classes {
                @if index($gridi-helpers-visibility-screens-support-only-classes-skip-classes, $class) == null {
                    .only-#{$screen-prefix}-#{$class} {
                        visibility: $value;
                    }
                }
            }
        }
    }

    $before-screen-prefix: $screen-prefix;
}
